<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - rescala</title>

  <link href="{{ site.github.baseurl }}/assets/dist/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.github.baseurl }}/assets/dist/bootstrap-theme.min.css" rel="stylesheet">
  <link href="{{ site.github.baseurl }}/assets/theme.css" rel="stylesheet">
  <link href="{{ site.github.baseurl }}/assets/syntax.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ site.github.baseurl }}/assets/dist/bootstrap.min.js"></script>
  <script src="{{ site.github.baseurl }}/assets/default.js"></script>
</head>
<body>
  {% include navbar.html %}
  <div class="container" role="main"><div id="main-content">
    {{ content }}
  </div></div>
</body>
</html>

